.cal-cont {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* Header */
.cal-header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  background-color: #f5f7f8;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.cal-curr-date {
  font-weight: 600;
  font-size: 1.5rem;
}

.cal-chevron-btn {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

/* Body */
.cal-body {
  padding: 30px;
  display: flex;
  gap: 20px;
  background-color: #f5f7f8;
  width: 100%;
}
.cal-body-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cal-sidebar {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  position: sticky;
  top: 20px;
}
.cal-sidebar-chart-cont {
  margin-top: 10px;
}

.cal-body-header,
.cal-body-date {
  color: #414141;
  font-size: 1.07rem;
  width: calc(100% / 7);
}

.cal-weekdays {
  display: flex;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
}
.cal-dates {
  display: flex;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
}

.cal-sidebar-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

.cal-prop-title {
  width: 100px;
  font-weight: bold;
}
.cal-prop-amount {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}
