.cal-cont {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* Header */
.cal-header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.cal-curr-date {
  font-weight: 600;
  font-size: 1.5rem;
}

.cal-chevron-btn {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

/* Body */
.cal-body {
  padding: 20px;
}

.cal-body-header,
.cal-body-date {
  color: #414141;
  font-size: 1.07rem;
  width: calc(100% / 7);
}

.cal-weekdays {
  display: flex;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
}
.cal-dates {
  display: flex;
  text-align: center;
  list-style: none;
  flex-wrap: wrap;
}
