.goals {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.goals-active,
.goals-expired {
  flex: 1;
}

.goals-expired-body {
  display: flex;
  gap: 50px;
}

/* GOAL DIALOGS */
.goal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.goal-form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.goal-form-item > label {
  width: 150px;
}
.goal-form-item-input {
  padding: 10px;
  width: 250px;
}
