.home {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-main {
  display: flex;
  flex: 1;
  width: 100%;
}
.home-nav {
  width: 20vw;
  border-right: 1px solid black;
}
.home-nav-items-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.home-nav-item {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.home-nav-item:hover {
  /* background-color: rgba(#000, 0.5); */
  background-color: gold;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.home-container {
  padding: 2rem;
  width: 100%;
}

.home-header {
  font-size: 30px;
  font-weight: 600;
}

.home-header-right {
  color: #d92121;
}

@media (max-width: 600px) {
  .home-main {
    height: 100%;
    flex: 1 0 auto;
    overflow-y: auto;
  }
  .home-nav-item-title {
    display: none;
  }
  .home-nav {
    border-right: none;
    border-top: 1px solid black;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
  .home-nav-items-cont {
    flex-direction: row;
  }
}
