.home {
  height: 100vh;
  width: 100vw;
}
.home-main {
  display: flex;
  height: 100%;
  width: 100%;
}
.home-nav {
  width: 16vw;
  border-right: 1px solid black;
}
.home-nav-items-cont {
  width: 100%;
}

.home-nav-item {
  padding: 1rem;
}
