.login-main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login-form-item {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.login-form-item > label {
  width: 150px;
}

.login-form-input-cont {
  display: flex;
  flex-direction: column;
}
.login-error,
.login-success {
  font-size: 0.75rem;

  height: 1rem;
}
.login-error {
  color: #cc0000;
}
.login-success {
  color: #14a44d;
}
