.register {
  width: 100vw;
  height: 100vh;
}
.register-main {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form-item {
  display: flex;
  /* gap: 10px; */
  margin-bottom: 10px;
  flex-direction: column;
}

.register-form-item > label {
  width: 150px;
}

.register-form-input-cont {
  display: flex;
  flex-direction: column;
}
