.register-main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form-item {
  display: flex;
  gap: 10px;
}

.register-form-item > label {
  width: 100px;
}
