.register-main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form-item {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.register-form-item > label {
  width: 150px;
}

.register-form-input-cont {
  display: flex;
  flex-direction: column;
}
